main{
    padding-bottom: 16px;
}

.not-authenticated{
    background: url("/assets/background/bg.jpg") no-repeat fixed;
    background-size: cover;
    height: 100vh;
    margin: 0px 0px 0px;
    overflow-x: hidden;
}